@{
    Layout = null;
}
 <!DOCTYPE html>
 <html>
     <head>
         <meta name="viewport" content="width=device-width"/>
     </head>
    <body>
        <div>
            s;lgvsvs;vmd;svm;'lk';k';k;'k pij sll llknd;l nl nlnd; n l

        </div>
    </body>
 </html>